@import "~bootstrap/scss/bootstrap";
@import "./style-css.css";

$border-color: #343a40;
$active-color: rgba(220, 220, 220, 1);
$border-width: 2px;
$border-width-2: 2 * $border-width;
$third: 100% / 3;
$two-third: 2 * $third;

html,
body {
	background-color: $border-color;
}

.square-placeholder {
	width: 100%;
}

.square-border {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: $border-color;
}

.main-pos,
.mini-display-pos,
.tab-sidebar-pos {
	position: absolute;
	left: $border-width;
	width: calc(100% - #{$border-width-2});
	background-color: white;
}

.main-pos {
	height: calc(100% - #{$border-width-2});
	top: $border-width;
}

.mini-display-pos {
	top: $border-width;
}

.tab-sidebar-pos {
	height: calc(100% - #{$border-width-2});
	top: #{$border-width};
}

#main-svg {
	visibility: hidden;
}

#main-svg g {
	visibility: visible;
}

#left-sidebar {
	z-index: 2;
}

.invisible {
	display: none;
	visibility: hidden;
}

.btn-extra {
	background-color: $active-color;
}

#left-right-cover {
	position: relative;
	left: 0;
	top: calc(-100vh + 60px);
	z-index: 50;
	box-sizing: content-box;
	pointer-events: none;
	background-color: transparent;
	outline-style: solid;
	outline-color: #343a40;
	outline-width: 100vw;
	margin-bottom: calc(-1 * calc(max(100vw, 100vh) - 50px));
	margin-right: -15px;
	margin-left: -15px;
}

#bottom-cover {
	z-index: 2;
	position: relative;
	height: 100vh;
	top: 0;
}

#main-border {
	position: absolute;
	border: #343a40;
	pointer-events: none;
	border-style: solid;
	background-color: transparent;
	width: 100%;
	height: 100%;
	border-width: 2px;
	z-index: 10;
}

#overflow-disabler {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
}

#overflow-disabler-bottom-left {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}

#overflow-disabler-bottom-right {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}

body {
	position: relative;
	margin: 0px;
}

#mini-display {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 20%;
	height: 20%;
}

#mini-display-toggle {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 19.7%; // 0 when disabled, 19.7% when active
	top: 0;
}

#btn-mini-display-toggle {
	width: 32px;
	height: 32px;
	border-radius: 0;
	border-bottom-right-radius: 6px;
}

#btn-mini-display-toggle-open {
	display: none;
}

.btn-group {
	margin: 0 !important;
}

.tab-container {
	position: absolute;
	width: calc(100% - 4px);
	top: 2px;
	left: 2px;
}

.tab-pane {
	width: 170px;
	margin: auto;
}

#point-radius-number {
	width: 30%;
}

#layer-sortable-list {
	list-style: none;
	padding: 0;
	overflow: hidden;
	overflow-y: scroll;
	height: 560px;
	width: 180px;
}

.active-layer .layer-list-move-icon {
	background-color: $active-color;
}

.layer-list-item {
	display: grid;
	border-top: 1px solid $active-color;
	margin-top: 2px;
	margin-bottom: 2px;
	grid-template-areas:
		"a b"
		"a c";
	grid-template-columns: 30px 130px;
	width: 170px;
}

.layer-list-move-icon {
	grid-area: a;
	border-radius: 5px;
	padding: 20px 4px;
	margin: 6px 3px;
	cursor: grab;
}

.layer-list-name {
	grid-area: b;
	padding-left: 2px;
}

.btn-layer-group {
	grid-area: c;
}

.btn-layer-group-inside {
	padding: 4px 10px;
}

.color-picker-number-label,
.color-picker-number {
	display: flex;
	justify-content: space-around;
	margin-top: 4px;
}

.color-picker {
	margin-top: 10px;
}

.color-picker-number-input {
	font-size: 0.75em;
	width: 20%;
}

.tab-content {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

#nav-top div {
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
}

.nav-tabs .nav-link,
.nav-tabs {
	color: #212529;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.nav-tabs {
	justify-content: space-around;
}

.nav-link {
	padding: 0.4rem 0.7rem;
}

.nav-tabs .nav-link.active {
	background-color: $active-color;
}
