html {
	min-width: 820px;
}

#content-container {
	width: max(790px, calc(max(100vw, 100vh) - 50px));
}

#left-right-cover {
	width: max(790px, calc(max(100vw, 100vh) - 50px));
	height: max(820px, calc(100vh - 60px));
	left: calc(calc(min(100vw, 100vh) - 830px) / 2);
}

#overflow-disabler {
	min-width: max(820px, 100%);
	min-height: max(820px, 100%);
}
