@import "~bootstrap/scss/bootstrap";

$border-color: #343a40;
$border-width: 2px;
$border-width-2: 2 * $border-width;
$third: 100% / 3;
$two-third: 2 * $third;

html,
body {
	background-color: $border-color;
}

.square-placeholder {
	width: 100%;
}

.square-border {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: $border-color;
}

.main-pos,
.sub-1-pos,
.sub-2-pos,
.sub-3-pos,
.sub-4-pos,
.sub-5-pos,
.sub-6-pos,
.sub-7-pos {
	position: absolute;
	left: $border-width;
	width: calc(100% - #{$border-width-2});
	background-color: white;
}

.main-pos {
	height: calc(100% - #{$border-width-2});
	top: $border-width;
}

.sub-1-pos {
	height: calc(#{$third} - #{$border-width-2});
	top: $border-width;
}

.sub-2-pos {
	height: calc(#{$third} - #{$border-width-2});
	top: calc(#{$third} + #{$border-width});
}

.sub-3-pos {
	height: calc(#{$third} - #{$border-width-2});
	top: calc(#{$two-third} + #{$border-width});
}

.sub-4-pos,
.sub-5-pos,
.sub-6-pos,
.sub-7-pos {
	height: calc(100% - #{$border-width-2});
	top: $border-width;
}

#content-container {
	width: calc(min(100vw, 100vh) - 50px);
}

#main-svg {
	visibility: hidden;
}

#main-svg g {
	visibility: visible;
}

#left-sidebar {
	z-index: 2;
}

#left-right-cover {
	position: relative;
	outline-color: #343a40;
	box-sizing: content-box;
	pointer-events: none;
	outline-style: solid;
	background-color: transparent;
	outline-width: 100vw;
	margin-right: -15px;
	margin-left: -15px;
	left: 0;
	top: 0px;
	z-index: 50;
	width: calc(min(100vw, 100vh) - 50px);
	height: calc(min(100vw, 100vh) - 50px);
	margin-bottom: calc(-1 * calc(min(100vw, 100vh) - 50px));
}

#bottom-cover {
	z-index: 2;
	position: relative;
	height: 100vh;
	top: 0;
}

#main-border {
	position: absolute;
	border: #343a40;
	pointer-events: none;
	border-style: solid;
	background-color: transparent;
	width: 100%;
	height: 100%;
	border-width: 2px;
	z-index: 10;
}

#overflow-disabler {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	overflow: hidden;
}

#overflow-disabler-bottom-left {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}

#overflow-disabler-bottom-right {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}

body {
	position: relative;
	margin: 0px;
}
